#homepage-title {
    text-align: center;
    vertical-align: middle;
    font-size: 34px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#homepage-title a {
    color: rgb(45, 45, 45);
    text-decoration: none;
}

#board-skin {
}

#board-body {
    width: 1080px;
    margin: 0px auto;
}

#board-top-menu {
    margin-top: 20px;
    padding-bottom: 40px;
}

#board-list {
    text-align: center;
}

#board-list table {
    width: 100%;
}

#board-list thead th {
    height: 40px;
    text-align: center;
    border-top: 1px solid gray;
    font-size: 13px;
    color: rgb(65, 65, 65);
}

#board-list tbody td {
    height: 36px;
}

#board-contents {
    text-align: center;
    border-top: 0.5px solid rgb(240, 240, 240);
    border-bottom: 0.5px solid rgb(240, 240, 240);
}

#bottom-post-button {
    margin-top: 21px;
}

#page-button {
    justify-content: center;
}

.fr {
    float: right;
}

.td-writing-num {
    font-size: 11px;
    color:rgb(155, 155, 155)
}

.td-title {
    text-align: left;
    font-size: 13px;
}

.td-author {
    font-size: 13px;
}

.td-date {
    font-size: 11px;
    color:rgb(155, 155, 155)
}

.td-views {
    font-size: 11px;
    color:rgb(155, 155, 155)
}

.article {
    color:black;
    text-decoration: none;
}