.introduce {
    color: rgb(45, 45, 45);
    text-align: center;
    padding-bottom: 60px;
}

.top-funcs {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 120px;
}

.top-profile {
    padding-right: 20px;
    font-size: 16px;
}

.page-sort {
    width: 100%;
    display: flex;
}

.page {
    position: absolute;
    left: 50%;
    transform: translateX(-15%);
    flex:1;
    width:80%;
}

.bottom-funcs {
    position: absolute;
    left: 100%;
    transform: translateX(-35%);
    flex:1;
    width:20%;
}

.tags {
    color: rgb(24, 24, 24);
    text-align: center;
}

.prime {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 14px;
}

.contents {
    text-align: center;
}