body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    margin: 10em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 60px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

form.form1 {
    padding-top: 60px;
}
form.form2 {
    padding-top: 40px;
}

.Bnaver {
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(25, 206, 96, 0.95);
padding: 10px 125px;
border: none;
border-radius: 5px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 50px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}

.Bgoogle {
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(216, 65, 65, 0.95);
padding: 10px 120px;
border: none;
border-radius: 5px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 50px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}