body {
    position: relative;
    width: 1920px;
    height: 1080px;
}

.introduce {
    color: rgb(45, 45, 45);
    text-align: center;
    padding-bottom: 60px;
}

.top-funcs {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 120px;
}

.top-profile {
    padding-right: 20px;
    font-size: 16px;
}

.bottom-funcs {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.tags {
    color: rgb(24, 24, 24);
}

.prime-read-write {
    padding-left: 500px;
    padding-right: 500px;
}

.contents {
    text-align: center;
}

.contents-read-write {
    font-size: 12px;
}

.contents-info {
    font-size: 11px;
}

.contents-title {
    font-weight: bold;
    font-size: 20px;
}

.contents-size {
}

.button-read {
    margin-right: 10px;
    margin-left: 10px;
}