{{>layout/header}}

<div class="top-funcs">
    <a href="/myprofile" class="btn btn-info active" role="button">내정보</a>
</div>

<div class="prime">
    <h2 class="introduce">Tolgu Blog</h2>
    <div class="col-md-12">
        <!-- 게시글 목록 -->
        <div class="basic-table">
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr class="tags">
                    <th width="50">글번호</th>
                    <th width="650">제목</th>
                    <th width="120">작성자</th>
                    <th width="60">작성일</th>
                    <th width="50">조회수</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#posts}}
                    <tr class="contents">
                        <td>{{id}}</td>
                        <td align="left"><a href="/posts/read/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                        <td>{{createdDate}}</td>
                        <td>{{views}}</td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
        <div class="bottom-funcs">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</div>

{{>layout/footer}}