<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/login-page.css">
    <title>Sign in</title>
</head>
<body>

<div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
        <a class="Bnaver" align="center" href="/oauth2/authorization/naver">Naver</a>
    </form>
    <form class="form2">
        <a class="Bgoogle" align="center" href="/oauth2/authorization/google">Google</a>
    </form>
</div>

<!--<div class="col-md-12">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>-->
<!--            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<br>-->

{{>layout/footer}}