{{>layout/header}}

<div class="top-funcs">
    <a href="/myprofile" class="btn btn-info active" role="button">내정보</a>
</div>

<div class="prime">
    <h2 class="introduce">작업을 수행할 수 없습니다.</h2>
</div>

{{>layout/footer}}