<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <div>
            <a href="/myprofile" class="btn btn-info" role="button">내정보</a>
        </div>

        <div>
            <h2>작업을 수행할 수 없습니다.</h2>
        </div>
    </body>
</html>